
.form-dish-desc{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 40px;
    margin-left:40px;
    margin-top:40px;
}

#text-dish-desc{
    height: 40px;
    width:400px;
}

.text-dish-desc-input{
    margin-left:40px;
}